{% extends "base.html" %}

{% block centro %}


<h1>Exibindo Variaveis</h1>

<p>Duas chave exibe a Váriavel Nome: {{nome}}</p>
<p>Podemos fazer coisas simples para exibir a Variável: {{2026 - idade}}</p>

<br><br>

{% if idade >= 18 %}
<div class="alert alert-success" role="alert">
    Você pode entrar!
</div>

{% else %}
<div class="alert alert-danger" role="alert">
    Desculpe {{nome}}, Você fica fora!
</div>

{% endif %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

{% endblock %}